<div class="container-fluid d-flex justify-content-between py-4 py-lg-5 px-lg-5 text-secondary">
    <div>
        <span class="fs-3 pe-3 align-middle">
            <a href="/dashboard"><i class="ti ti-layout"></i></a>
        </span>
        <span class="fs-5 align-middle">
            <%= currentLocation %>
        </span>
    </div>
    <div>
        <span class="fs-3 align-middle">
            <a href="/sessionLogout"><i class="ti ti-logout"></i></a>
        </span>
    </div>
</div>